body{
    font-family:'Gill Sans', 'Gill Sans MT';
    margin: 0%;
    background-color: darkgreen;
    padding: auto;
}
header{
    background-color: darkgreen;
    color: black;
    padding: 0px;
    text-align: center;
    margin: auto;
}
nav{
    background-color: rgba(153, 255, 0, 0.459);
    overflow: hidden;
}
nav a{
    text-align: center;
    display: block;
    float: left;
    padding: 15px 18px;
    color: black;
    text-decoration: double;
    font-size: 25px;
}
nav a:hover{
    background-color: green;
    color: black;
}
/* for the image*/
.nath {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}
/* for my name*/
.name{
    text-align: center;
    font-size: 50px;
}
    /* contact information*/
.contact{
    font-size: 25px;
    text-decoration: underline blue;
    color: blue;
    text-align: center;
}
.pi{
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    margin: auto;
    width: 600px;
    height: 450px;
    background-color: rgba(167, 248, 45, 0.466);
    font-size: 25px;
}
.eb{
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    margin: auto;
    width: 600px;
    height: 350px;
    background-color: rgba(167, 248, 45, 0.466);
    font-size: 25px;
}
.skill{
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    margin: auto;
    width: 600px;
    height: 350px;
    background-color: rgba(167, 248, 45, 0.466);
    font-size: 25px;
}
.nature{
    position: absolute;
    width: 1375px;
    height: 820px;
    background-size: cover;
    opacity: .3;
    align-items: center;
    background-repeat: no-repeat;
}
.planet{
    position: absolute;
    width: 1375px;
    height: 720px;
    background-size: cover;
    opacity: .3;
    align-items: center;
    background-repeat: no-repeat;
}
.sunset{
    position: absolute;
    width: 1375px;
    height: 720x;
    background-size: cover;
    opacity: .3;
    align-items: center;
    background-repeat: no-repeat;
}
.left{
    text-align: left;
}
ul{
    list-style: none;
    display: table;
    text-align: left;
} 
li{
    display: table-row;
}
.a{
    display: table-cell;
    padding-right: 1em;
}
.container{
    position: absolute;
    bottom: 370px;
    right: 560px;    
    transform: translate(680%, 10850%)
}
.container2{
    position: absolute;
    bottom: 370px;
    right: 560px;    
    transform: translate(663%, 10850%)
}
.home{
    font-size: 20px;
    text-decoration: underline black;
    color: black;
}
