body{
    background-image: url("images/green.jpg");
    background-color: darkgreen;
    padding: auto;
    font-family:'Gill Sans', 'Gill Sans MT';
}
img{
    position: absolute;
    opacity: .5;
    height: 765px;
    width: 1300px;
}
.container{
    position: absolute;
    top: 370px;
    left: 560px;
    transform: translate(-85%, -45%)
}
.text{
    font-size: 30px;
}
.font-size{
    font-size: 50px;
}
.font-size2{
    font-size: 25px;
}
.container2{
    position: absolute;
    bottom: 370px;
    right: 560px;    
    transform: translate(-50%, 1150%)
}
.home{
    font-size: 20px;
}
