body{
    background-image: url("images/green.jpg");
    background-color: darkgreen;
    padding: auto;
    font-family:'Gill Sans', 'Gill Sans MT';
}
img{
    position: absolute;
    opacity: .5;
    height: 765px;
    width: 1380px;
}
.container{
    position: absolute;
    top: 370px;
    left: 560px;
    transform: translate(-60%, -60%)
}
.font_size{
    font-size: 50px;
}
.text{
    font-size: 25px;
}
.line{
    text-decoration: underline blue;
    color: blue;
    font-size: 23px;
}
.container2{
    position: absolute;
    bottom: 370px;
    right: 560px;    
    transform: translate(-50%, 1150%)
}
.home{
    font-size: 20px;
}
