head{
    background-color: plum;
    font-size: 50px;
}
body{
    background-color: bisque;
    font-size: 50px;
}
.container{
    position: absolute;
    top: 370px;
    left: 560px;
    transform: translate(-60%, -60%);
}
img{
    opacity: .5;
}
.one{
    font-size: 50px;
}
.two{
    font-size: 30px;
}
