body{
    background-image: url("images/green.jpg");
    background-color: darkgreen;
    padding: auto;
}
img{
    position: absolute;
    opacity: .5;
    height: 760px;
    width: 1400px;
}
.container{
    position: absolute;
    top: 370px;
    left: 560px;    
    transform: translate(-50%, -80%)
}
.font_size{
    font-size: 50px;
}
.font_size2{
    font-size: 25px;
}
.font_size3{
    font-size: 30px;
}
.left{
    text-align: right;
    font-size: 20px;
}
