body{
    font-family: 'Gill Sans', 'Gill Sans MT';
    margin: center;
    padding: center;
    background-color: green;
}
header{
    background-color: rgba(0, 100, 0, 0.829);
    color: black;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    margin:auto;
}
.background{
    background-color:  rgba(153, 255, 0, 0.459);
    padding: auto;
    margin: 10px;
    border-radius: 5px;
    width: 900px;
    text-align: center;
    position: relative;
    top: -70px;
    left: -700px;    
    transform: translate(100%, 100%);
    font-size: 20px;
}
.text2{
    position: relative;
    top: 40px;
    left: -1000px;    
    transform: translate(100%, 100%);
    font-size: 20px;
}
.rizal{
    padding: center;
    position: relative;
    top: -230px;
    left: 340px;    
    transform: translate(100%, 100%);
}
.text{
    text-align: center;
    font-size: 20px;
}
.timeline{
    background-color: rgba(153, 255, 0, 0.459);
    padding: auto;
    margin: 10px;
    border-radius: 5px;
    width: 1000px;
    position: relative;
    top: -550px;
    left: -900px;    
    transform: translate(100%, 100%);
    font-size: 20px;
}
ul{
    list-style: none;
    display: table;
    text-align: left;
} 
li{
    display: table-row;
}
.a{
    display: table-cell;
    padding-right: 1em;
}
.source{
    position: relative;
    bottom: 300px;
    left: -1000px;    
    transform: translate(100%, 100%);
    font-size: 20px;
}
.container{
    position: absolute;
    bottom: -550px;
    right: 560px;    
    transform: translate(680%, 1500%)
}
.container2{
    position: absolute;
    bottom: -550px;
    right: 560px;    
    transform: translate(663%, 1500%)
}
.home{
    font-size: 20px;
    text-decoration: underline blue;
    color: blue;
}